
//------** Colors

$goldensand: #FAAD58;
$eggplant_light: #732D5B;
$eggplant_dark: #370C1E;

$lavender: #EDE8FF;
$new_black: #313131;


//------** Nice Gradients
$light_pink: #FFE0FF;
$dark_pink: #FFC3FF;

